In [4]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('ocado1.csv')

In [14]:
def transform(df):
    df.columns = df.columns.str.lower()
    df.astype('str')

    title =[]
    for index, row in df.iterrows():
        try:
            title.append(row['title'].replace(row['weight'], ''))
        except Exception as e:
            title.append(row['title'])
    df['title'] = pd.Series(title).astype('str')

    price =[]
    for index, row in df.iterrows():
        try:
            if row['price'].startswith('£'):
                price.append(row['price'][1:])
            else:
                price.append(int(row['price'][:-2])*0.01)
        except Exception as e:
            price.append(row['price'])
    df['price'] = pd.Series(price).astype(float)

    review=[]
    for index, row in df.iterrows():
        try:
            review.append(row['review'].split(' ')[1])
        except Exception as e:
            review.append(row['review'])
    df['review'] = pd.Series(review).astype(float)

    df['country'] = df['country'].str.extract(r'(United Kingdom|UK|EU|Denmark|Scotland|Italy|Germany|Netherlands|Hungary|Ireland|France|Spain)', expand=True).replace('UK', 'United Kingdom')
 
    review_count=[]
    for index, row in df.iterrows():
        try:
            review_count.append(row['review_count'][1:-1])
        except Exception as e:
            review_count.append(row['review_count'])

    df['review_count'] = pd.Series(review_count).astype(float)

    df['description'] = df['description'].apply(lambda x: f'"{x}"')
    df['brand'] = df['brand'].apply(lambda x: f'"{x}"')
    df['manufacturer'] = df['manufacturer'].apply(lambda x: f'"{x}"')
    df['ingredient'] = df['ingredient'].apply(lambda x: f'"{x}"')
    df['information'] = df['information'].apply(lambda x: f'"{x}"')

    return df

In [72]:
df = pd.read_parquet('ocados3.parquet')
df.drop(columns='Unnamed: 0', inplace=True)
print(df.columns)
df= transform(df)
df.to_parquet('ocado.parquet')
# df.to_csv('x.csv', index=False)

Index(['ID', 'Link', 'img', 'Title', 'weight', 'Price', 'Price_per_unit',
       'Review', 'Review_count', 'description', 'Country', 'Brand',
       'manufacturer', 'ingredient', 'information'],
      dtype='object')

In [233]:
df.price_per_unit.head(100)

0        40p per 100g
1      59.5p per 100g
2     16.7p per 100ml
3      53.3p per 100g
4            25p each
           ...
95                NaN
96     16.3p per 100g
97     66.7p per 100g
98                NaN
99     64.3p per 100g
Name: price_per_unit, Length: 100, dtype: object

In [ ]:

1	The store manager believes that there is a relationship between the price of the product and the review the
 product get? Is this so? What are the price of the first 10 product that have a review or 4.3 or above?
2	How many people have reviews the second worst product?
3	What is the name, manufacturer and website of the 2nd most expensive product?
4	How much product cost £5 or more?
5	How many products are in-house products (i.e., those with Ocado as Brabd names)?
6	What is the name and price of the most expensive product in terms of price per unit? What ingredient is it made
 up of? Is it an in-house product?
7	Please classify the products as suitable for vegans or not? How many product fall in both classes?
8	What are the id, url and price of the products that contain butter (see the description column)?
 like 1

In [213]:
df1 = df[['id','link','img','title' ]]
df2 = df[['id','weight', 'price','price_per_unit', 'review', 'review_count']]
df3 = df[['id','description', 'country','brand', 'manufacturer', 'ingredient', 'information' ]]

In [214]:
df1.to_csv('ocado_df1.csv')
df2.to_csv('ocado_df2.csv')
df3.to_csv('ocado_df3.csv')

In [ ]:
df1.head()

In [216]:
df2.head()

,id,weight,price,price_per_unit,review,review_count
0,50bb5cfd-ac5e-4c0c-8ca4-854a516f9b99,400g,1.60,40p per 100g,4.6,69.0
1,1fd7d447-2a6e-4a70-b637-47f612ee0f17,840g,5.00,59.5p per 100g,4.1,31.0
2,8c12b07d-405a-4ab3-bada-44f11b0a7737,750ml,1.25,16.7p per 100ml,3.8,57.0
3,e7343597-41dc-4e9d-bf71-cbcee9c1ef73,750g,4.00,53.3p per 100g,2.4,127.0
4,a51c08df-48d1-4a74-bcfe-18e4e86a7c02,6 per pack,1.50,25p each,4.7,12.0

In [217]:
df3.head()

,id,description,country,brand,manufacturer,ingredient,information
0,50bb5cfd-ac5e-4c0c-8ca4-854a516f9b99,"""A can of our smooth Ambrosia Devon custard is...",United Kingdom,"""Ambrosia""","""Freepost Premier Foods.\n\nPremier Foods ROI,...","""Skimmed Milk, Buttermilk, Sugar, Modified Sta...","""Suitable for Vegetarians"""
1,1fd7d447-2a6e-4a70-b637-47f612ee0f17,"""Fish for Good, Responsibly Sourced\nFish is g...",NaN,"""Birds Eye""","""Birds Eye Limited,\nFreepost ADM3939,\nLondon...","""Alaska Pollock (Fish) (58%), Breadcrumb Coati...","""Contains Wheat\nContains Fish\nFree From Arti..."
2,8c12b07d-405a-4ab3-bada-44f11b0a7737,"""Getting your toilet clean is as easy as chill...",Netherlands,"""Duck""","""SC Johnson Ltd.,\nCamberley,\nGU16 7AJ.""","""nan""","""nan"""
3,e7343597-41dc-4e9d-bf71-cbcee9c1ef73,"""Start your day with Kellogg’s Special K Origi...",EU,"""Special""","""Kellogg's,\nOrange Tower,\nMediaCityUK,\nSalf...","""Rice (47%), Wholewheat (37%), Sugar, Barley (...","""Contains Barley, May Contain Cereals Containi..."
4,a51c08df-48d1-4a74-bcfe-18e4e86a7c02,"""We make every last bite awesome, so we sprink...",United Kingdom,"""Mini Cheddars""","""(UK): Freepost Jacob's.\n\n(Outside UK): Plad...","""Flour (Wheat Flour, Calcium, Iron, Niacin, Th...","""May Contain Eggs, May Contain Soya"""

In [ ]:
s3_key_names=['ocado_df1.csv', 'ocado_df2.csv','ocado_df3.csv']

In [53]:
def load_to_s3(AWS_ACCESS_KEY , AWS_SECRET_ACCESS_KEY, AWS_REGION, S3_BUCKET_NAME, s3_key_names):
        print('loading data into s3.....')    
        s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_ACCESS_KEY, region_name=AWS_REGION)
        # Upload the file
        local_file_path =''
        for  s3_key_name in s3_key_names:
            s3.upload_file(s3_key_name, S3_BUCKET_NAME, s3_key_name)
            print(f'loaded {s3_key_name} ......')
        # s3.put_object(Bucket=S3_BUCKET_NAME, Key= s3_key_name, Body=csv_buffer.getvalue())
        print('loaded data into s3')

In [54]:
s3_key_names=['ocado_df1.csv', 'ocado_df2.csv','ocado_df3.csv']

load_to_s3(AWS_ACCESS_KEY , AWS_SECRET_ACCESS_KEY, AWS_REGION, S3_BUCKET_NAME, s3_key_names)

loading data into s3.....
loaded ocado_df1.csv ......
loaded ocado_df2.csv ......
loaded ocado_df3.csv ......
loaded data into s3

In [131]:
df.columns

Index(['unnamed: 0', 'id', 'link', 'img', 'title', 'weight', 'price',
       'price_per_unit', 'review', 'review_count', 'description', 'country',
       'manufacturer', 'ingredient', 'information'],
      dtype='object')

In [2]:
# %pip install psycopg2
# !brew install postgresql

Collecting psycopg2
  Using cached psycopg2-2.9.9.tar.gz (384 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp311-cp311-macosx_13_0_x86_64.whl size=144328 sha256=b1cf0b3b3ec18afca7eeb1c745cee6884fdb3aaf7010bbad02c60194befd13c8
  Stored in directory: /Users/aminu/Library/Caches/pip/wheels/ab/34/b9/78ebef1b3220b4840ee482461e738566c3c9165d2b5c914f51
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

[notice] A new release of pip is available: 23.2 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [42]:
AWS_ACCESS_KEY='AKIA46RAYA6EGY3VOCUH'
AWS_SECRET_ACCESS_KEY='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'

# AWS Configuration
AWS_REGION='eu-west-2'

# S3 Configurations
S3_BUCKET_NAME='ocado-bucket'

import boto3
import psycopg2

In [ ]:
# Set your Redshift database credentials
DB_NAME = 'your_database_name'
DB_USER = 'your_username'
DB_PASSWORD = 'your_password'
DB_HOST = 'your_redshift_host'
DB_PORT = 'your_redshift_port'

# Set your S3 file details
S3_BUCKET = 'your_s3_bucket'
S3_KEY = 'your_s3_key'

# Set your Redshift table name
TABLE_NAME = 'your_table_name'

In [ ]:
# Create an S3 client
s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_ACCESS_KEY, region_name=AWS_REGION)

In [ ]:
# Set the copy command
copy_query = f"COPY {TABLE_NAME} FROM 's3://{S3_BUCKET}/{S3_KEY}' " \
             f"credentials 'aws_access_key_id={AWS_ACCESS_KEY};aws_secret_access_key={AWS_SECRET_ACCESS_KEY}' " \
             f"csv IGNOREHEADER 1"

In [ ]:
# Execute the copy command
conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASSWORD, host=DB_HOST, port=DB_PORT)
cur = conn.cursor()
cur.execute(copy_query)
conn.commit()

In [168]:
import boto3
from io import BytesIO

In [169]:
#  !pip install boto3

In [170]:
# Set the local file path and S3 key name
# local_file_path = './ocado.csv'
# s3_key_name = 'ocado.csv'

csv_buffer = BytesIO()
df = pd.read_csv('ocado1.csv')
df.to_csv(csv_buffer, index=False)

In [171]:
# Create an S3 client
s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_ACCESS_KEY, region_name=AWS_REGION)

# Upload the file
# s3.upload_file(local_file_path, S3_BUCKET_NAME, s3_key_name)
s3.put_object(Bucket=S3_BUCKET_NAME, Key='example.csv', Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'FT36BAF39BNHKBCH',
  'HostId': '8Zf9VwFBGfUSFigtyFz+bUqhpRmR1YV19W1rIoTx+MlgkWFmc2p6McR8qrMlOx/jPQim6ajP0ww=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '8Zf9VwFBGfUSFigtyFz+bUqhpRmR1YV19W1rIoTx+MlgkWFmc2p6McR8qrMlOx/jPQim6ajP0ww=',
   'x-amz-request-id': 'FT36BAF39BNHKBCH',
   'date': 'Sun, 22 Oct 2023 20:35:43 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"ad1ff6c0d8879c0c3f84d4e4a5141d1c"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"ad1ff6c0d8879c0c3f84d4e4a5141d1c"',
 'ServerSideEncryption': 'AES256'}

In [63]:
df = pd.read_excel('ocado_df3.xls')

In [62]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 1.2 MB/s eta 0:00:00a 0:00:01m
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

[notice] A new release of pip is available: 23.2 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

In [ ]:
k.key = df.to_csv('ocado.csv')
k.set_contents_from_filename('Desktop/input-parquet')